@import "./var.less";
@import "./animation.less";
@import "./mixin.less";

input[type="button"] {
  appearance: none;
  border: none;
  background-color: @mainColor;
  padding: 5px @defMargin;
  color: #fff;
  cursor: pointer;
}
